.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
  width: 150px;
  height: 150px;
  border: 25px dashed teal;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }

  to {
    transform: rotate(360deg) scale(1.4);
  }
}