.loader {
  border-radius: 50%;
  animation: rotate 1s infinite linear;
  
  &_big {
    width: 150px;
    height: 150px;
    border: 25px dashed teal;
  }

  &_mini {
    width: 20px;
    height: 20px;
    border: 3px dashed teal;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }

  to {
    transform: rotate(360deg) scale(1.4);
  }
}