.chatItem {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid black;
  &_active {
    background-color: gray;
  }

  &__group {
    display: flex;
  }
  &__img {
    // margin-right: 15px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  &__body {
    // margin-right: 30px;
    span {
      font-size: 12px;
      font-weight: 400;
    }
    // last message
    p {
      margin-top: 10px;
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 200px;
    }
  }

  &__timestamp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    span {
      font-size: 11px;
    }
    .unreadMessages {
      display: flex;
      justify-content: center;
      width: fit-content;
      height: fit-content;
      padding: 3px 7px;
      font-weight: 600;
      border-radius: 50%;
      background-color: rgb(163, 46, 236);
    }

  }
}