@import '../../scss/variables.scss';

.post {
  position: relative;

  .post__popupButtons {
    display: none;
  }

  &:hover {
    .post__popupButtons {
      display: flex;
      position: absolute;
      right: 10px;
      top: 10px;
      gap: 20px;
      border-radius: 10px;
      background-color: white;
      padding: 10px;

      svg {
        cursor: pointer;

        &:hover {
          background-color: rgb(173, 170, 170);
          border-radius: 5px;
        }
      }
    }
  }

  &__header {
    font-size: 0px;
    margin-bottom: none;
    padding-bottom: none;

    img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%;
    }
  }

  &__content {
    padding: 20px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    &_trimtop {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &__header {
      display: flex;
      margin-bottom: 20px;

      &__userData {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .group {
          display: flex;
          gap: 20px;

          &__follow {
            display: flex;
            align-items: center;
            gap: 3px;
            font-size: 14px;
            background-color: rgb(103, 185, 240);
            color: white;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            svg {
              width: 15px;
              path {
                fill: white
              }
            }
          }
          .fullName {
            font-weight: 600;
            cursor: pointer;
          }
        }

        .time {
          color: gray;
          font-size: 15px;
        }
      }
    }

    &__body {
      padding-left: 65px;

      &__heading {

        h2 {
          margin-bottom: 15px;
          font-size: 35px;
          color: black;
          word-wrap: break-word;
        }
      }

      &__tags {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 25px;

        span {
          margin-right: 20px;
          color: rgb(166, 161, 161);

          &:hover {
            color: black;
          }
        }
      }

      &__dropdown {
        display: flex;
        justify-content: end;
        color: $blue_light;
        padding-right: 50px;

        p {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
        }

        svg {
          width: 15px;
        }
      }

      &__statistics {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        color: gray;

        svg {
          path {
            // fill: gray;
          }
        }

        &__group {
          display: flex;
          gap: 20px;

          svg {
            cursor: pointer;
          }

          a {
            margin-left: 20px;
          }
        }
      }

      &__text {
        margin-bottom: 20px;
        font-size: 20px;
      }
    }
  }
}