.comments {
  background-color: white;
  // padding: 0 10px 0 10px;
  border-radius: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 100px);
  // position: relative;

  &__header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 10px;
    background-color: white;
    border-bottom: 1px solid #000;
    z-index: 2;

    span {
      display: flex;
      align-items: center;
      gap: 15px;

      svg {
        padding: 1px 5px;
        width: 30px;
        cursor: pointer;

        &:hover {
          background-color: rgb(186, 186, 186);
          border-radius: 5px;
        }
      }
    }

  }
  &__noComments {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }


  &__create {
    display: flex;
    position: sticky;
    bottom: 0;
    right: 0;
    // left: 0;
    background-color: rgb(182, 217, 214);
    border-radius: 5px;
    padding: 10px;

    // img {
    //   width: 50px;
    //   height: 50px;
    //   border-radius: 50%;
    //   margin-right: 20px;
    // }
    &__group {
      width: 100%;

      .textarea {
        position: relative;
        
        textarea {
          font-size: 16px;
          font-weight: 500;
          border-radius: 10px;
        }

        svg {
          position: absolute;
          right: 5px;
          top: 5px;
          width: 15px;
          cursor: pointer;
          path {
            fill: gray
          }
        }
      }
      &__image {
        position: relative;
        width: fit-content;
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }
        svg {
          position: absolute;
          background-color: white;
        }
      }

    }

    &__buttons {
      display: flex;
      gap: 15px;
    }
  }
}