.createPost {
  padding-top: 40px;

  &__content {
    border-radius: 10px;
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;

    button {
      margin-bottom: 30px;
    }

    input {
      border: none;
    }

    hr {
      border: 1px solid $blue_dark
    }

    &__img {
      display: block;
      width: 100%;
    }

    &__buttons {
      display: flex;
      gap: 20px;
    }
  }
}

.editor {
  margin-bottom: 20px;
  // :global {
  //   .cm-s-easymde {
  //     border: 0;
  //     font-size: 22px;
  //   }

  //   .editor-toolbar {
  //     border: 0;
  //     background-color: rgb(0 0 0 / 2%);
  //     margin-right: 20px;
  //   }
  // }

  .CodeMirror {
    height: 350px !important;
  }
}