.fullPost {
  // padding-top: 40px;
  // padding-bottom: 50px;

  .post {
    margin-bottom: 30px;
  }
}
.comments {
  &__create {
    display: flex;
    position: sticky;
    bottom: 0; 
    right: 0;
    left: 0;
    background-color: rgb(227, 249, 247);
    border-radius: 10px;
    padding: 10px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 20px;
    }

    &__group {
      width: 100%;

      textarea {
        width: 100%;
        height: 30px;
      }
    }
  }

}