@import '../variables.scss';

.home {
  &__wrapper {
    &_shrink {
      width: 60%;
      margin: 0 auto;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 30px;

    // display: flex;
    // justify-content: space-between;
    // gap: 40px;
    &__posts {
      display: flex;
      flex-direction: column;
      gap: 30px;
      // width: 60%;
    }

    &__sidebar {
      display: flex;
      flex-direction: column;
      gap: 30px;

      // width: 40%;
      .home__content__comments {
        position: sticky;
        top: 90px;
      }
    }
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    &_shrink {
      max-width: 60%;
    }
  }

  &__scrollUp {
    position: fixed;
    left: 20px;
    bottom: 20px;

    button {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      font-size: 16px;
      border-radius: 10px;
      padding: 5px;
    }

    svg {
      width: 20px;
    }

    :hover {
      background-color: rgb(223, 223, 223);
    }
  }
}