@import '../variables.scss';

.home {
  &__wrapper {
    // padding-top: 40px;
  }

  &__content {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 30px;
    // display: flex;
    // justify-content: space-between;
    // gap: 40px;
    &__posts {
      display: flex;
      flex-direction: column;
      gap: 30px;
      // width: 60%;
    }
    &__sidebar {
      display: flex;
      flex-direction: column;
      gap: 30px;
      // width: 40%;
      .home__content__comments {
        position: sticky;
        top: 70px;
      }
    }
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
    // max-width: 60%;
    margin-bottom: 30px;
  }
}