@import '../variables.scss';

.home {
  &__wrapper {
    padding-top: 40px;
  }

  &__content {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-column-gap: 30px;
    &__posts {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    &__sidebar {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  &__categories {
    margin-bottom: 30px;
  }
}