.auth {
  display: flex;
  justify-content: center;

  &__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    margin-bottom: 20px;
    color: gray;
    cursor: pointer;
    &:hover {
      color: black;
      svg {
        path {
          fill: black;
        }
      }
    }
    svg {
      width: 136px;
      path {
        fill: gray
      }
    }
    img {
      width: 250px;
      height: 250px;
      border-radius: 40px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: white;
    padding: 50px 40px;
    border-radius: 5px;

    h1 {
      margin-bottom: 20px;
    }

    form {
      margin-top: 20px;
    }
  }
}