.messanger {
  display: grid;
  grid-template-columns: 1fr 2fr;
  // justify-content: space-between;
  min-height: 50vh;
  height: 80vh;
  
  // ALL CHATS + SEARCH INPUT
  .chats {
    color: white;
    // background-color: rgb(78, 78, 200);
    background-color: rgb(95, 92, 92);
    
    &__search {
      padding: 20px;
      input {
        padding: 5px;
        color: black;
        background-color: rgb(211, 211, 211);
      }
    }
    
    &__list {
      max-height: calc(80vh - 69px);
      overflow-y: auto;
      scrollbar-width: auto;
      // display: flex;
      // flex-direction: column;
      // gap: 20px;
    }

    &__emptyBlock {
      height: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // CURRENT CHAT
  .currentChat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // width: 100%;
    max-height: 80vh;
    &__heading {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      background-color: rgb(213, 212, 212);
      &__typing {
        font-size: 14px;
        color: $blue_dark;
        margin-left: 5px;
      }

      &__deleteSvg {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 13px;
        svg {
          cursor: pointer;
        }
      }
    }

    &__messages {
      height: 100%;
      background-color: white;
      overflow-y: auto;
      scrollbar-width: auto;
      padding: 10px;
    }
    
    &__footer {
      background-color: rgb(213, 212, 212);
      padding: 10px;
      &__textarea {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        textarea {
          padding: 10px;
          padding-left: 30px;
          border-radius: 20px;
          font-size: 14px;
          font-weight: 500;
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          padding: 10px;
          &:hover {
            background-color: #0095F6;
            svg {
              path {
                fill: white
              }
            }
          }
          svg {
            width: 15px;
            path {
              fill: white
            }
          }
        }
        .attachSvg {
          position: absolute;
          left: 5px;
          top: 5px;
          cursor: pointer;
          svg {
            width: 15px;
          }
        }
      }

      &__image {
        margin-top: 10px;
        width: fit-content;
        position: relative;
        img {
          width: 50px;
          height: 50px;
          border-radius: 10px;
        }
        svg {
          position: absolute;
          top: 0;
          left: 110%;
          background-color: white;
          cursor: pointer;
        }
      }
    }
  }
}