.profileCard {
  display: flex;
  gap: 30px;

  &__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
    &__buttons {
      display: flex;
      gap: 10px;
      button {
        font-size: 15px;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  img,
  svg {
    width: 150px;
    height: 150px;
    margin: 0;
  }

  &__data {
    display: flex;
    flex-direction: column;
    // background-color: rgb(206, 203, 203);
    border-radius: 30px;
    padding: 30px;
    gap: 20px;

    &__statistics {
      display: flex;
      gap: 20px;

      .followers {
        cursor: pointer;
      }
    }
  }
}