.navigation {
  position: fixed;
  left: 0;
  right: 0;
  // width: 100%;
  padding: 10px 20px;
  background-color: white;
  z-index: 10;
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    padding: 9px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
  }
  &__buttons {
    display: flex;
    gap: 15px;
  }
  &_fake {
    height: 63px;
  }
}