.navigation {
  position: sticky;
  top: 0;
  // left: 0;
  // right: 0;
  // width: 100%;
  padding: 5px 20px;
  // background-color: white;
  // background: rgb(226, 247, 244);
  background: radial-gradient(circle, rgb(232, 208, 219) 0%, rgb(226, 247, 244) 100%);
  z-index: 10;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    div {
      padding: 9px 10px;
      background-color: black;
      color: white;
      border-radius: 5px;
      text-transform: uppercase;
      text-decoration: none;
      border: none;
      outline: none;

      &:hover {
        background-color: #70a892;
        /* Darker green on hover */
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 15px;
  }

  &__profile {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 15px;
    padding: 5px;
    cursor: pointer;
    &:hover {
      background-color: rgb(232, 230, 230);
      border-radius: 10px;
    }

    p {
      display: flex;
      flex-direction: column;
      align-items: center;
      svg {
        width: 10px;
      }
      span {
        font-size: 13px;
      }
    }

    img {
      width: 40px;
      height: 40px;
    }

    &__dropdown {
      position: absolute;
      top: 110%;
      right: 50px;
      background-color: #fff;
      border: 1px solid rgb(75, 174, 220);
      padding: 10px 15px;
      border-radius: 10px;
      min-width: 145px;

      ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        list-style: none;

        svg {
          width: 20px;
        }

        li {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;

          &:hover {
            text-decoration: 2px underline;
          }
        }
      }
    }
  }
}