.status {
  &_online {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #7FFF00;
    margin-left: 5px;
    animation: pulse 1s infinite alternate;
  }

  @keyframes pulse {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(1.2);
    }
  }

  &_offline {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #979494;
    margin-left: 5px;
  }
}