.message {
  display: flex;
  padding: 0 10px;
  margin-bottom: 8px;

  &_myMessage {
    flex-direction: row-reverse;
  }

  &__img {
    display: flex;
    align-items: end;

    img,
    svg {
      width: 35px;
      height: 35px;
      margin-right: 10px;
      object-fit: cover;
    }

    &_paddingLeft {
      padding-left: 45px;
    }
  }

  &__body {
    max-width: 50%;

    
    p {
      background-color: rgb(235, 235, 235);
      padding: 10px;
      border-radius: 10px;
      font-size: 14px;
      word-break: break-word;
    }
    
    span {
      display: block;
      font-size: 11px;
    }
    .bubble_left {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 10px 11px 5px 0;
        border-color: transparent rgb(235, 235, 235) transparent transparent;
        bottom: 0;
        left: -5px;
      }
    }

    .bubble_right {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 10px 0 5px 11px;
        border-color: transparent transparent transparent rgb(235, 235, 235);
        bottom: 0;
        right: -5px;
      }
    }
  }
}