.message {
  display: flex;
  // padding: 0 10px;
  margin-bottom: 8px;

  &_myMessage {
    flex-direction: row-reverse;
  }

  &__img {
    display: flex;
    align-items: end;

    img,
    svg {
      width: 35px;
      height: 35px;
      margin-right: 10px;
      object-fit: cover;
    }

    &_paddingLeft {
      padding-left: 45px;
    }
  }

  &__body {
    max-width: 50%;
    position: relative;

    p {
      background-color: rgb(235, 235, 235);
      padding: 10px;
      border-radius: 10px;

      span {
        word-break: break-word;
        font-size: 14px;
        margin-bottom: 5px;
      }

      img {
        max-width: 200px;
        max-height: 200px;
      }
    }

    span {
      display: block;
      font-size: 11px;
    }

    .bubble_left {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 10px 11px 5px 0;
        border-color: transparent rgb(235, 235, 235) transparent transparent;
        bottom: 0;
        left: -5px;
      }
    }

    .bubble_right {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 10px 0 5px 11px;
        border-color: transparent transparent transparent rgb(235, 235, 235);
        bottom: 0;
        right: -5px;
      }
    }
  }

  .message__details {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    left: -50px;
    // background-color: rgb(221, 221, 221);
    padding: 2px 4px;
    border-radius: 50%;
    cursor: pointer;
    
    svg {
      width: 15px;
      &:hover {
        background-color: rgb(221, 221, 221);
      }
    }
  }

  &__like {
    position: absolute;
    right: -17px;
    bottom: 10px;
    cursor: pointer;
    svg {
      width: 14px;
    }
  }
  
  &__liked {
    position: absolute;
    top: -5px;
    right: -2px;
  }
  svg {
    width: 14px;
  }

}