@import './pages/login&register.scss';
@import './pages/home.scss';
@import './pages/fullPost.scss';
@import './pages/createPost.scss';
@import './pages/tags.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;

  a {
    color: inherit;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  // padding-bottom: 500px;
}

.input {
  margin-bottom: 20px;

  &_error {
    color: tomato;
  }
}

.app-body {
  height: 100%;
  min-height: calc(100vh - 63px);
  background-color: #f1f3f9;
}