@import './pages/login&register.scss';
@import './pages/home.scss';
@import './pages/fullPost.scss';
@import './pages/createPost.scss';
@import './pages/tags.scss';
@import './loader.scss';
// @import './pages/profile.scss';
@import './pages/profileAbout.scss';
@import './pages//profileEdit.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;

  a {
    color: inherit;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  // padding-bottom: 500px;
}


.app-body {
  height: 100%;
  min-height: calc(100vh - 63px);
  // background-color: #dee0e5;
  background: rgb(232,208,219);
  background: radial-gradient(circle, rgba(232,208,219,1) 0%, rgba(226,247,244,1) 100%);
  padding-top: 40px;
  padding-bottom: 50px;
}

.input {
  display: block;
  margin-bottom: 20px;
  position: relative;

  &_error {
    color: tomato;
  }

}

form {
  width: 100%;
}