@import './variables.scss';

.button {
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;

  &_colored {
    color: white;
    background-color: $blue_dark;
    border: none;
  }

  &_transparent {
    color: $blue_dark;
    background-color: white;
    border: 1px solid $blue_dark;
  }
}