@import './variables.scss';

.button {
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;

  &_colored {
    color: white;
    background-color: $blue_dark;
    border: none;
  }

  &_transparent {
    color: $blue_dark;
    background-color: white;
    border: 1px solid $blue_dark;
  }

  &_cancel {
    background-color: rgb(200, 199, 199);
    border: none;
    // text-decoration: underline $blue_dark 2px;
    color: $blue_dark;
  }

  &_delete {
    background-color: #d32f2f;
    color: white;
    border: none;
  }

  &_disabled {
   background:  #b0afaf;
   color: gray;
   cursor: no-drop;
  }
}